@using DataAccess.Models

@{
}

@model IList<MedicalHistory>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HalloDoc - Patient Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/b1_submit_request.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

</head>

<body>

    <nav class="bg-white navbr navbar navbar-expand w-100 ">
        <div class="container-fluid">
            <div class="d-flex align-items-center">
                <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="height: 50%;">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <img class="navbar-brand ms-3" id="logo" src="~/Images/logo.png" alt="logo" height="60px" width="120px">
            </div>
            <div>
                <div class="d-none d-sm-flex justify-content-center align-items-center">
                    <ul class="navbar-nav ms-auto d-flex flex-nowrap align-items-center gap-2">
                        <li class="nav-item">
                            <span>Welcome @Model.FirstOrDefault().FirstName</span>
                        </li>
                        <li class="nav-item p-2 fw-bolder">
                            <span class="d-flex gap-1">
                                <span>@TempData["username"]</span>
                                <span>@TempData["id"]</span>
                            </span>
                        </li>

                        <li class="nav-item">
                            <button id="logout" onclick="location.href='@Url.Action("b2_registered_user", "Home")'" type="button" class="px-3 back btn btn-outline-info me-3">
                                <span class="d-none d-md-block">Logout</span>
                                <i class="bi bi-box-arrow-right d-md-none d-block"></i>
                            </button>
                        </li>
                        <li class="nav-item">
                            <img onclick="myFunction()" class="light" src="~/Images/dark.png" alt="" height="40px">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer id="fixed-footer" class="py-1 bg-dark text-white-50 fixed-bottom justify-content-end">
        <div class="footer-css row row-cols-3 container justify-content-end text-center">
            <a class="foot-text col-5 w-auto link-opacity-100 link-underline link-underline-opacity-0 text-decoration-none text-white" href="#">
                Terms of
                Conditions
            </a>
            <p class="foot-text col-2 w-auto text-white">|</p>
            <a class="foot-text col-5 w-auto link-opacity-100 link-underline link-underline-opacity-0 text-white text-decoration-none" href="#">
                Privacy
                Policy
            </a>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $('.modal').css('top', $(window).outerHeight() / 4 - ($(".modal-dialog").outerHeight()) / 2 + 'px');

        $(document).ready(function () {
            // Convert table rows to accordions in mobile view
            if ($(window).width() < 768) {
                $('#dataTable tr').each(function (index) {
                    var $accordionHeader = $('<div class="accordion-header">');
                    $accordionHeader.text('Accordion Header ' + (index + 1));

                    var $accordionContent = $('<div class="accordion-content">');
                    $accordionContent.html($(this).html());

                    $('#accordionWrapper').append($accordionHeader).append($accordionContent);
                });

                // Toggle accordion content on header click
                $('.accordion-header').click(function () {
                    $(this).next('.accordion-content').slideToggle();
                });
            }
        });

        // Resize event listener to update accordion on window resize
        $(window).resize(function () {
            $('#accordionWrapper').empty();
            if ($(window).width() < 768) {
                $('#dataTable tr').each(function (index) {
                    var $accordionHeader = $('<div class="accordion-header">');
                    $accordionHeader.text('Accordion Header ' + (index + 1));

                    var $accordionContent = $('<div class="accordion-content">');
                    $accordionContent.html($(this).html());

                    $('#accordionWrapper').append($accordionHeader).append($accordionContent);
                });

                // Toggle accordion content on header click
                $('.accordion-header').click(function () {
                    $(this).next('.accordion-content').slideToggle();
                });
            }
        });

        let buttonId = null;

        function passId(event) {
            buttonId = event.target.id;
        }

        function redirect() {
            if (buttonId === 'button1') {
                location.assign('b2c1d1_for_me_request');
            }
            else if (buttonId === 'button2') {
                location.assign('b2c1d2_for_someone_request');
            } else {
                // Default redirection if buttonId is not set or unexpected
            }
        }

        function viewDocs() {
            var divToReplace = document.getElementById("medicalHistory");
            var replacementDiv = document.getElementById("viewdocs");
            divToReplace.innerHTML = replacementDiv.innerHTML;
        };
        function swapDivs() {
            // Get references to the div elements
            document.getElementById("medicalHistory").style.display = "block";
            document.getElementById("viewdocs").style.display = "none";
        }

        function showDocuments(requestId) {
            $.ajax({
                url: '/Home/GetDcoumentsById',
                type: 'GET',
                data: { requestId: requestId },
                success: function (response) {

                    $("#docList").html(response);
                }
            });

            document.getElementById('medicalHistory').style.display = 'none';
            document.getElementById('viewdocs').style.display = 'block';
        }

        const phoneInputField = document.querySelectorAll("input[type='tel']");
        for (var i = 0; i < phoneInputField.length; i++) {
            const phoneInput = window.intlTelInput(phoneInputField[i], {
                utilsScript:
                    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
            });
        }

        
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
