@model DataAccess.Models.MedicalHistoryList
@{
    Layout = "~/Views/Shared/_b2c.cshtml";
}

<!-- Main Content -->
<hr class="m-0 hr_line d-none d-lg-block">
<nav class="navbr navbar navbar-expand-lg py-0 pt-2 bg-body" style="z-index: 10;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class=" bg-white ps-5 nav nav-underline" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">
                        Dashboard
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">
                        Profile
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
         tabindex="0">

        <div class="tab-content container-fluid p-5" id="medicalHistory">
            <div class="tab-pane fade show active" id="dashboard-tab-pane" role="tabpanel" aria-labelledby="dashboard-tab" tabindex="0">

                <h3 class="mb-4">Medical History</h3>

                <div class="container-fluid bg-white shadow p-3 rounded-3">

                    <div class="text-end py-3">
                        <button id="new-req" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="back btn btn-outline-info justify-content-start w-auto me-3">
                            <Span class="py-2 d-none d-md-block">
                                Create New Request
                            </Span><i class="p-2 bi bi-plus-lg d-block d-md-none"></i>
                        </button>
                    </div>

                    <div class="d-none d-md-block">
                        <table class="table">
                            <thead class="table-secondary">
                                <tr>
                                    <th scope="col">Created Date<i class="bi bi-arrow-down-short"></i></th>
                                    <th scope="col">Current Status</th>
                                    <th scope="col">Document</th>
                                </tr>
                            </thead>

                            <tbody>

                                @foreach (var items in Model.medicalHistoriesList)
                                {
                                    <tr>
                                        <td>@items.createdDate</td>
                                        <td>@items.currentStatus</td>
                                        <td>
                                            <a href="#" class="back btn btn-outline-info fw-bold" onclick="showDocuments(@items.reqId)">
                                                <span><i class="bi bi-file-earmark fw-bold"></i></span>
                                                <span> View Documents (@items.document.Count())</span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                               
                            </tbody>
                        </table>
                    </div>

                    <div class="accordion accordion-flush d-block d-md-none" id="accordionFlushExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                    Created Date: Dec 5, 2023
                                </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Placeholder content for this accordion, which is intended to demonstrate the
                                    <code>.accordion-flush</code> class. This is the first item's accordion body.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                        aria-controls="flush-collapseTwo">
                                    Created Date:
                                </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Placeholder
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#flush-collapseThree" aria-expanded="false"
                                        aria-controls="flush-collapseThree">
                                    Created Date:
                                </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                 aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Placeholder
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-5" style="background-color: aliceblue; display:none" id="viewdocs">

            <div class="container bg-white p-4 ">
                <div class="d-flex justify-content-between mb-4">
                    <h3>Documents</h3>
                    <button onclick="swapDivs()" id="backview" class="back btn btn-outline-info">&lt; back</button>
                </div>
                <div class="row">
                    <p class="col-12">Patient Name</p>
                    <p class="col-12">
                        <span class="fw-bolder fs-4">@Model.medicalHistoriesList.FirstOrDefault().FirstName @Model.medicalHistoriesList.FirstOrDefault().LastName</span>
                        <span>@Model.medicalHistoriesList.FirstOrDefault().ConfirmationNumber</span>
                    </p>
                    <p class="col-12 py-3">check here for any files that you or the doctors of your subsequents requestors have attached for you to review</p>
                    <div class="col-12 mb-4">
                        <input class="form-control form-control-lg " id="formfilelg" type="file" multiple>
                    </div>
                    <div class="row" id="docList"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        <form method="post" class="container my-5 p-4" id="main-cont">
            <div class="container bg-white p-4 rounded-4 shadow">
                <div class="row">
                    <h5 class="col-12">General Information</h5>

                    <div class="col-6">
                        <div class="input-div form-floating mb-3">
                            <input asp-for="@Model.medicalHistoriesList.FirstOrDefault().FirstName" type="text" class="form-control" id="floatingInput" disabled>
                            <label for="floatingInput">First Name</label>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="input-div form-floating mb-3">
                            <input asp-for="@Model.medicalHistoriesList.FirstOrDefault().LastName" type="text" class="form-control" id="floatingInput" placeholder="name@example.com" disabled>
                            <label for="floatingInput">Last Name</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-div form-floating mb-3">
                            <input asp-for="@Model.medicalHistoriesList.FirstOrDefault().DateOfBirth" type="date" class="form-control" id="floatingInput" placeholder="name@example.com" disabled>
                            <label for="floatingInput">Date Of Birth</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h5>Contact Information</h5>
                    </div>

                    <div class="col-2">
                        <div class="form-floating">
                            <select asp-for="@Model.medicalHistoriesList.FirstOrDefault().ContactType" type="tel" name="phone" class="form-control p-3 ps-5" id="floatingInput" disabled>
                                <option>Mobile</option>
                                <option>Landline</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-div form-floating mb-3">
                            <input asp-for="@Model.medicalHistoriesList.FirstOrDefault().PhoneNumber" type="tel" name="phone" class="form-control p-3 ps-5" id="floatingInput" disabled>
                            <label for="floatingInput">Contact Number</label>

                        </div>
                    </div>

                    <div class="col-6">
                        <div class="input-div form-floating mb-3">
                            <input asp-for="@Model.medicalHistoriesList.FirstOrDefault().Email" name="email" type="email" class="form-control" id="email" placeholder="name@example.com" disabled>
                            <label for="floatingInput">Email</label>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12">
                        <h5>Patient Location</h5>
                    </div>
                    <div class="col-6">
                        <div class="input-div form-floating mb-3">
                            <input asp-for="@Model.medicalHistoriesList.FirstOrDefault().Street" type="text" class="form-control" id="floatingInput" placeholder="" disabled>
                            <label for="floatingInput">Street</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-div form-floating mb-3">
                            <input asp-for="@Model.medicalHistoriesList.FirstOrDefault().City" type="text" class="form-control" id="floatingInput" placeholder="" disabled>
                            <label for="floatingInput">City</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-div form-floating mb-3">
                            <input asp-for="@Model.medicalHistoriesList.FirstOrDefault().State" type="text" class="form-control" id="floatingInput" placeholder="" disabled>
                            <label for="floatingInput">State</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="input-div form-floating mb-3">
                            <input asp-for="@Model.medicalHistoriesList.FirstOrDefault().ZipCode" type="text" class="form-control" id="floatingInput" placeholder="" disabled>
                            <label for="floatingInput">Zip Code</label>
                        </div>
                    </div>
                    <div class="col-1">
                        <div class="form-floating mb-3">
                            <button type="button" class="back btn btn-outline-info" style="height:3.4rem ;"> <i class="bi bi-geo-alt"></i> Map</button>
                        </div>
                    </div>
                </div>

               @*  <div class="row row-cols-2 mt-3 pb-3 justify-content-end"> *@

                <div class="col w-auto">
                    <a role="button" class="back btn btn-outline-info" id="editButton">
                        Edit
                    </a>
                </div>

                <div class="col w-auto">
                    <button class="back btn btn-outline-info" type="submit" id="saveButton" hidden>
                        Save
                    </button>
                </div>
                    
                @* </div> *@

            </div>
        </form>
        
    </div>

    @*-------------------------modal--------------------*@
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#00B7FF ; color:white">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Create a New Request</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Here, I Want to create new request for...
                        <br />
                        <div class="d-flex justify-content-center gap-3 my-3">
                            <button class="modal-b back btn btn-outline-info me-3" id="button1" onclick="passId(event)">
                                <span class="">Me</span>
                            </button>
                            <button class="modal-b back btn btn-outline-info me-3" id="button2" onclick="passId(event)">
                                <span class="">Someone Else</span>
                            </button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end mb-3 me-3 gap-3">
                        <button id="continue" class="modal-b back btn btn-outline-info me-3" onclick="redirect()">
                            <span class="">Continue</span>
                        </button>
                        <button type="reset" class="modal-b back btn btn-outline-info me-3" data-bs-dismiss="modal">
                            <span class="">Cancel</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function () {
            $('#editButton').click(function () {

                // Remove disabled attribute to make inputs editable
                // $('#name').prop('disabled', false);
                // $('#age').prop('disabled', false);
                $('input[type="text"]').removeAttr('disabled', false);
                $('input[type="date"]').removeAttr('disabled', false);
                $('input[type="tel"]').removeAttr('disabled', false);
                $('input[type="email"]').removeAttr('disabled', false);
                // Hide the edit button after clicking it
                $(this).hide();
                $('#saveButton').removeAttr('hidden', false);
            });
        });
    </script>
